<section id="{{PageInfo?.id}}" class="aftertw scroll-element last-section"  [ngClass]="{'delayed-style': showPage}">
    <h1 class="titlehead">
        {{PageInfo?.title}}
    </h1>
    <input type="radio" name="slider" id="left_slider" #left_slider>
    <input type="radio" name="slider" id="center_slider" #center_slider checked="">
    <input type="radio" name="slider" id="right_slider" #right_slider>
    <div id="projects_view" class="projects-cards">
        <label id="left_card" #left_card for="left_slider"  class="left_card card clearfix" (click)="checkClick(left_card)">
            <h1  class="card_title"></h1> 
            <img id="left_img" class="card_logo" loading="lazy"/>
            <p class="card_description"></p>
        </label>
        <label id="center_card" #center_card for="center_slider" class="center_card card clearfix" (click)="checkClick(center_card)">
            <h1  class="card_title"></h1> 
            <img id="center_img" class="card_logo" loading="lazy"/>
            <p class="card_description"></p>
        </label>
        <label id="right_card" #right_card for="right_slider" class="right_card card clearfix" (click)="checkClick(right_card)">
            <h1  class="card_title"></h1> 
            <img id="right_img" class="card_logo" loading="lazy"/>
            <p class="card_description"></p>
        </label>
    </div>
</section>